<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="navbar-brand">
            <img src="../../../assets/img/temporal.svg" alt="logoLuxury" style="height:
              80px;">
          </div>
     
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <div (click)="showOrders()" style="margin-left: 25rem;" >
            <a class="navbar-brand"   ><fa-icon style="font-size:3rem;" [icon]="faShoppingBag"></fa-icon></a>
            <p style="color: white;">Ordenes</p>
          </div>
          <div (click)="showBikers()">
            <a class="navbar-brand" style="margin-left: 2rem;"  ><fa-icon style="font-size:3rem;" [icon]="faTruck"></fa-icon></a> 
            <p style="color: white;margin-left: 2rem;">Motoristas</p>
            
          </div>
          <div (click)="showCompanies()">
            <a class="navbar-brand" style="margin-left: 2rem;"  ><fa-icon style="font-size:3rem;" [icon]="faStore"></fa-icon></a> 
            <p style="color: white;margin-left: 2.3rem;">Locales</p>

          </div>
          <div (click)="logOut()" style="margin-left: 30rem;">
            <a class="navbar-brand"   ><fa-icon style="font-size:3rem;" [icon]="faPowerOff"></fa-icon></a> 
            <p style="color: white;">LOGOUT</p>

          </div>
        </div>
      </div>
    </div>
  </nav>

