<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="navbar-brand">
    <img src="../../../assets/img/temporal.svg" alt="logoLuxury" style="height:
      80px;">
  </div>
</nav>


<div class="container align-middle position-relative"  style="margin-top:10em;">

  <div class="shadow-lg p-3 mb-5 ml-5 bg-body rounded   " style="max-width:auto; max-height:max-content;" >

    <h1 class="c-morado text-center"> Iniciar Sesion </h1>
    <p style="font-size:larger;" class="text-center">Porfavor llene el formulario con sus credenciales de inicio de sesion</p>
    <!--form inicio-->

    <form  [formGroup]="loginForm">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label" style="font-size: medium;">Correo Electronico</label>
        
        <input type="email" class="form-control" id="exampleInputEmail1"  placeholder="&#xF007; Email"
          formControlName="email"
          [ngClass]="{'is-invalid':loginUsuario['email'].errors}">  
        <div *ngIf="loginUsuario['email'].errors">
          <div *ngIf="loginUsuario['email'].errors['required']">
            Email no puede estar vacio
          </div>
          <div *ngIf="loginUsuario['email'].errors['email']">
            Escriba un correo correcto
          </div>
        </div>
      </div>

      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label" style="font-size: medium;">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1"
          formControlName="password" minlength="8" placeholder="&#xf023; Password"
          [ngClass]="{'is-invalid':loginUsuario['password'].errors}">
          
        <div *ngIf="loginUsuario['password'].errors">
          <div *ngIf="loginUsuario['password'].errors['required']">
            Password no puede estar vacio
          </div>
          <div *ngIf="loginUsuario['password'].errors['minlength']">
            La contraseña debe de tener 8 carecteres o mas
          </div>

        </div>
      </div>
      <div class="d-grid col-2 mx-auto">

        <button  type="submit" [disabled]=loginForm.invalid class=" btn btn-primary"
          (click)="login()">Iniciar Sesion</button>
      </div>
    </form>

  </div>
</div>
