.bg-light {
    background-color: #6B45BC !important;
  }
  
  
  
  input, textarea { 
      font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
      font-style: normal;
      font-weight: normal;
      text-decoration: inherit;
  }
  